.flex-container {
    overflow:auto;
}
.AboutMe {
    background-color: black;
    color: white;
    padding: 5%;
    
}
.AboutMe .Container {
    display: flex;
    
}


.AboutMe .Container .Text {
    width: 47%;
    margin-left: 3;
    padding: 1.5rem;
}

.AboutMe .Container .Photo {
   
  

}


.AboutMe .Container .Photo .Me {
    height: 300px;
    border-radius: 20%;
  
    padding-inline: 0%;
    padding-right: 10%;
    padding-left: 10%;
    display: inline-block;
    
}