.flex-container {
    overflow:auto;
}
.AboutMe {
    background-color: black;
    color: white;
    padding-right: 1pc
    
    
}
.AboutMe .Container {
    display: flex;
    grid-row: span;
    
}


.AboutMe .Container .Text {
    width: 47%;
    
    
}

.AboutMe .Container .Photo {
    display: flex;
    justify-content: center;
}

