.flex-container {
    overflow:auto;
}
.AboutMe {
    background-color: black;
    color: white;
    padding: 5%;
    
}
.AboutMe .Container {
    display: flex;
    
}


.AboutMe .Container .Text {
    width: 47%;
    margin-left: 3;
    padding: 1.5rem;
}

.AboutMe .Container .Photo {
    display: inline-flex;
    justify-content:space-between;
   

}


.AboutMe .Container .Photo .Me {
    height: 300px;
    border-radius: 10%;
    display: inline-block;
    padding-inline: 50%;
    padding-right: 50%;
    
}